.hero-container {
    margin-top: 100px;
    display: flex;
}
.hero-left {
    width: 50%;
}
.hero-left > h1 {
    max-width: 468px;
    color: #141414;
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
}
.hero-left > p {
    max-width: 548px;
    color: rgba(0, 0, 0, 0.75);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 48px;
}
.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 239px;
    height: 65px;
    border-radius: 8px;
    background: #120B48;
    color: #fff;
}

.hero-right {
    display: flex;
    gap: 20px;
}

.hero-start {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-start > img {
    width: 374px;
    height: 221px;  
}